input[type="text"] {
  width: 90%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

#submit-book {
  padding: 13px;
  background-color: lightblue;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
}

@media (max-width: 750px) {
  input[type="text"] {
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
    padding: 12px 20px;
  }

  #submit-book {
    margin: auto;
    display: flex;
  }
}
